{% extends 'base.html.twig' %}
{% block title %}Mis reservas · Car Rental{% endblock %}
{% block body %}
  <h1 class="mb-3">Mis reservas</h1>
  <p>(Listado de reservas del usuario autenticado. Lo implementamos después de Auth.)</p>
{% endblock %}
