{% extends 'base.html.twig' %}
{% block title %}Cotizar · Car Rental{% endblock %}
{% block body %}
  <h1 class="mb-3">Cotizar</h1>
  <p>(Acá irá el formulario de cotización: ubicaciones + fechas. Pronto.)</p>
{% endblock %}
