{% extends 'base.html.twig' %}
{% block title %}Reservar · Car Rental{% endblock %}
{% block body %}
  <h1 class="mb-3">Reservar</h1>
  <p>(Acá mostraremos la confirmación de la reserva seleccionada. Pronto.)</p>
{% endblock %}
