# Symfony/Composer
/vendor/
/var/
/node_modules/
composer.lock

# Entornos y secretos locales
.env          
.env.local
.env.*.local
.env.dev


# Caché y logs
*.log
.cache/
/.phpunit.result.cache

# IDEs/OS
/.idea/
/.vscode/
/*.code-workspace
.DS_Store
Thumbs.db

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/config/jwt/     
###< lexik/jwt-authentication-bundle ###
