<header class="header">
  <div class="container">
    <h1 class="logo">
      <div class="logo">
        <img src="assets/imagenes/logo.jpg" alt="Car Rental" />
      </div>
    </h1>

    <nav class="nav">
      <!-- 🔐 BOTÓN ADMIN (solo si está logueado y es admin) -->
      <a
        *ngIf="isLoggedIn && isAdmin"
        routerLink="/admin"
        routerLinkActive="active"
        class="admin-link"
      >
        Panel Admin
      </a>

      <a routerLink="/cotizar" routerLinkActive="active">Cotizar</a>

      <a routerLink="/flota" routerLinkActive="active">Ver flota</a>
      <a routerLink="/ubicaciones" routerLinkActive="active">Ver ubicaciones</a>

      <!-- Si NO está logueado -->
      <a *ngIf="!isLoggedIn" routerLink="/auth/login">Iniciar sesión</a>

      <!-- Si está logueado -->
      <ng-container *ngIf="isLoggedIn">
        <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
        <a routerLink="/mis-reservas" routerLinkActive="active">Mis reservas</a>
        <button type="button" class="nav-logout" (click)="logout()">
          Cerrar sesión
        </button>
      </ng-container>

      <button type="button" class="btn-theme" (click)="toggleDark()">🌓 Tema</button>
    </nav>
  </div>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <p>© {{ currentYear }} Car Rental. Todos los derechos reservados.</p>
  </div>
</footer>
